.noticias {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    background: #4FB65B;

    padding: 2rem;

}

.noticias h1 {

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #222222;
    color: #E69D00;
    
    font-family: "Roboto Slab";
    
    border-radius: 10px;

    box-shadow: inset 0 -5px 0px #383838;

    margin-bottom: 2rem;
    padding: 1rem 5rem;

}

.noticias .noticia {

    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;

    background: #FFAD01;
    
    border-radius: 10px;
    
    width: 70vw;

    padding: 1rem;

    margin-bottom: 2rem;

}

.noticias .noticia img {

    border-radius: 10px;
    
    margin-bottom: 2rem;

}

.noticias .noticia p {

    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 400;

    text-align: justify;

    width: 540px;
    
    margin-bottom: 0.5rem;

}

@media (max-width: 720px) {

    .noticias .noticia {

        width: 90vw;

    }

    .noticias .noticia img {

        width: 100%;

    }

    .noticias .noticia p {
    
        font-size: 1.2rem;
        
        width: 80vw;

    }

    .noticias .noticia h1 {

        font-size: 1.5rem;
        
        padding: 1rem;

    }
    
}
